.home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap:20px;
}
.root{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}