body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.container h1 {
  font-size: 36px;
  color: #f5a623;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.container h1::after {
  content: "";
  display: block;
  width: 60%;
  height: 2px;
  background-color: #f5a623;
  margin: 10px auto 0;
}

.wardrobe-container {
  text-align: center;
  margin-top: 20px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 60px;
  margin-top: 20px;
}

.image-gallery img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border: 2px solid #f5a623;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.image-gallery img:hover {
  transform: scale(1.05);
}

.placeholder-box {
  grid-column: span 3;
  padding: 20px;
  border: 2px dashed #ddd;
  color: #999;
  font-size: 18px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #f5a623;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #d18e21;
}

.uploading {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.file-upload-label {
  display: flex;
  width: 200px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #f5a623;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.file-upload-label:hover {
  border-color: #d48822;
  background-color: #f9f9f9;
}

input[type="file"] {
  display: none;
}

button {
  width: 150px;
  background-color: #f2a62c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 15px;
}

button:hover {
  background-color: #ed9c1a;
}